.Profile {
  width: 40vh;
  height: 10vh;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}
.Foto {
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
  background: var(--c20);
}
.Datos {
  gap: 1vh;
}
.Datos div:nth-child(1) {
  font-size: 3.5vh;
  line-height: 2.5vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-left: 1vh;
  box-sizing: border-box;
}
.Datos div:nth-child(2) {
  font-size: 1.8vh;
  line-height: 1.8vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-left: 1vh;
  box-sizing: border-box;
}
