.Post {
  font-size: 2vh;
  text-align: center;
  width: 100%;
  height: 25vh;
  border-radius: 1vh;
  cursor: pointer;
  box-shadow: 0 0 2vh #0008;
  border-radius: 4vh;
  background: #1235;
  padding: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  flex-direction: column;
  position: relative;
}
.Post:hover {
  box-shadow: 0 0 2vh springgreen;
}
.Post:hover > div h2 {
  font-size: 3.5vh;
  line-height: 3.5vh;
}
.Post:hover > div {
  gap: 7vh;
}
.Post div h2 {
  font-size: 3vh;
  transition: 0.3s;
  line-height: 3vh;
  margin-bottom: 0;
}
.Post div {
  gap: 4vh;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Post:hover > .MiniPlay {
  opacity: 1;
  bottom: 3vh;
}
.Post:hover > .MiniPlay div {
  width: 45%;
  height: 45%;
}
.Post:hover > div label {
  margin-left: 35%;
  margin-top: 0vh;
}

.Post div label {
  align-self: flex-start;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.6vh;
  border-radius: 1vh;
  font-size: 1.5vh;
  line-height: 1.5vh;
  font-weight: 700;
  border: 3px solid #fafafa88;
  transition: 0.3s;
  margin-top: 2vh;
}
.MiniPlay {
  opacity: 0;
  transition: 0.3s;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  background: springgreen;
  box-shadow: 0 0 1vh #3333;
  position: absolute;
  bottom: 1vh;
  right: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.MiniPlay div {
  width: 10%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 2%;
  transition: 0.2s 0.1s;
}
.video {
  width: 15vh;
  height: 45vh;
  background: var(--c00);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fa0;
}
.articulo {
  width: 100%;
  height: 35vh;
  background: var(--c00);
  display: flex;
  justify-content: center;
  align-items: center;
}
.podcast {
  width: 100%;
  background: var(--c00);
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
