.Navegacion {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25vh;
  height: 100%;
  z-index: 60;
}
.Navegacion div {
  pointer-events: visible;
}
.Title {
  font-size: 5vh;
  margin: 0;
  text-align: center;
}
.Left,
.Rigth {
  position: absolute;
  width: 5vh;
  height: 5vh;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.Left:active {
  transition: 0.2s;
  width: 5.5vh;
  height: 5.5vh;
}
.Rigth:active {
  transition: 0.2s;
  width: 5.5vh;
  height: 5.5vh;
}
.Left {
  margin-right: 15vh;
}
.Rigth {
  margin-left: 15vh;
}
.Mid {
  width: 8vh;
  height: 8vh;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.Mid:active {
  transition: 0s;
  width: 7.7vh;
  height: 7.7vh;
}
.Poligono {
  color: var(--c00);
}
