.Consultorio {
  font-size: 2vh;
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.PieceActived {
  width: 45vh;
  height: 45vh;
}
.Actived {
  position: fixed;
  top: 0;
  left: 0;
}
.BracketsShape {
  align-self: flex-end;
  position: absolute;
  /* opacity: 0.5; */
}
.Consultorio button {
  z-index: 3;
}
.ContainerSecundary {
  width: 70vw;
  position: absolute;
  top: 0;
}
.ContainerSecundary:nth-child(2) {
  right: 0;
}
.ContainerSecundary:nth-child(3) {
  left: 0;
}
.SvgHeader {
  position: absolute;
  top: 0;
  z-index: 5;
  filter: drop-shadow(0 0 1vh #000) drop-shadow(0 0 2vh #f00)
    drop-shadow(0 0 3vh #00f);
}
.SvgFooter {
  position: absolute;
  bottom: 0;
}
.Tratamiento {
  width: 100vw;
  height: 100vh;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.Tratamiento svg {
  pointer-events: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Tratamiento svg path {
  transition: 1s !important;
}
