.Path path {
  transition: 1s;
  d: path(
    'M127.695 353.5C51.2953 248.7 62.5001 133 89.5001 71.4998C161 -49.0002 369.658 1.10598 479 96.9997C572.5 179 792 365 495.5 420C258.3 464 447.333 644.333 524.5 729C657.667 843.833 541 1050 301 1098C-152.294 1188.66 11.6953 785 127.695 676C168.362 634.333 204.095 458.3 127.695 353.5Z'
  );
  animation: animate 3s linear infinite;
}

@keyframes animate {
  0% {
    d: path(
      'M127.695 353.5C51.2953 248.7 62.5001 133 89.5001 71.4998C161 -49.0002 369.658 1.10598 479 96.9997C572.5 179 792 365 495.5 420C258.3 464 447.333 644.333 524.5 729C657.667 843.833 541 1050 301 1098C-152.294 1188.66 11.6953 785 127.695 676C168.362 634.333 204.095 458.3 127.695 353.5Z'
    );
    fill: antiquewhite;
  }
  50% {
    d: path(
      'M132 468C55.6 363.2 158.167 307.333 219 292.5C165.5 87.5 331.5 119.5 438.5 21C545.5 -77.5 867.5 209.5 571 264.5C333.8 308.5 428.833 488.833 506 573.5C639.167 688.333 790.7 931.3 331.5 984.5C-127.7 1037.7 -10.5 833 105.5 724C146.167 682.333 208.4 572.8 132 468Z'
    );
    fill: rgb(201, 128, 33);
  }
  100% {
    d: path(
      'M127.695 353.5C51.2953 248.7 62.5001 133 89.5001 71.4998C161 -49.0002 369.658 1.10598 479 96.9997C572.5 179 792 365 495.5 420C258.3 464 447.333 644.333 524.5 729C657.667 843.833 541 1050 301 1098C-152.294 1188.66 11.6953 785 127.695 676C168.362 634.333 204.095 458.3 127.695 353.5Z'
    );
    fill: antiquewhite;
  }
}
.flexbox {
  display: flex;
  overflow: auto;
  height: 2000px; /* Not necessary -- for example only */
}
.regular {
  background-color: blue; /* Not necessary -- for example only */
  height: 600px; /* Not necessary -- for example only */
  display: flex;
  justify-content: center;
  align-items: center;
}
.sticky {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 500px;
  align-self: flex-start; /* <-- this is the fix */
  background-color: red; /* Not necessary -- for example only */
}
