/* Phone */
.Container {
  flex-direction: column;
  border-radius: 15px;
  background: var(--c02);
  overflow: hidden;
  padding: 10px;
  cursor: pointer;
}
.row {
}
@media print {
  .Container {
    position: fixed;
    transform: scale(1.5) translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border: 2px solid #fa0;
  }
}
/* Tablet */
@media (min-width: 576px) {
}
/* Laptop */
@media (min-width: 768px) {
}
/* Desktop */
@media (min-width: 1200px) {
}
